# Copia este archivo como .env y completa los valores con tu proyecto de Supabase ESTA ES UNA PLANTILLA DE EJEMPLO

# Django
SECRET_KEY=tu-secret-key-aqui
DEBUG=True

# Supabase - PostgreSQL (Session Pooler para redes IPv4)
# Valores en: Supabase → Settings → Database → Session Pooler
DB_NAME=postgres
DB_USER=postgres.acwnkaahiwfgiuabgcih
DB_PASSWORD=tu-password-aqui
DB_HOST=aws-0-sa-east-1.pooler.supabase.com
DB_PORT=5432
